Options -Indexes
RewriteEngine On
Options +FollowSymlinks 







###GET/POST Security with .htaccess
#Options +FollowSymLinks
#RewriteEngine On
### Block out any script trying to set a mosConfig value through the URL (Joomla)
#RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR]
### Block out any script trying to base64_encode crap to send via URL
#RewriteCond %{QUERY_STRING} base64_encode.*\(.*\) [OR]
### Block out any script that includes a < script > tag in URL
#RewriteCond %{QUERY_STRING} (\|%3E) [NC,OR]
### Block out any script trying to set a PHP GLOBALS variable via URL
#RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
### Block out any script trying to modify a _REQUEST variable via URL
#RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
### Send all blocked request to homepage with ‘403 Forbidden’ error.
#RewriteRule ^(.*)$ index.php [F,L]




###-------------------------------------------------------------------------------|
###SEUL LE FICHIER index.php EST SERVI COMME PREMIER FICHIER PAR DEFAUT.          |
###LES AUTRES SONT INTERDITS													  |
###-------------------------------------------------------------------------------|
DirectoryIndex index.php

### INTERDIRE LES AUTRES TYPES DE FICHIER INDEX
#<Files ~ "^(index)\.(p?s?x?htm?|txt|aspx?|cfml?|cgi|pl|php[3-9]|jsp|xml)$">
#order allow,deny
#deny from all
#</Files>

### INTERDIRE L'AFFICHAGE DE CERTAINS FORMATS DE FICHIER 
### EXÉCUTÉS PAR LE SERVEUR MAIS INTERDIT D'AFFICHAGE PAR LE NAVIGATEUR WEB
#<Files ~ "\.(inc|class|sql|ini|conf|exe|dll|bin|tpl|bkp|dat|c|h|py|spd|theme|module|mdb|rar|bash|git|hg|log|svn|swp|cvs)$">
#deny from all
#</Files>

### INTERDIRE L'AFFICHAGE DE CERTAINS FICHIERS COMME config, option, login, setup, install, admin, home, default, xmlrpc.
### A ADAPTER SI CELA POSE PROBLEME, NOTAMMENT RETIREZ wp-(login|admin|config)| SI VOUS UTILISEZ WORDPRESS
#<Files ~ "^(wp-(login|admin|config)|config(\.inc)?|install?|admin|login|configure|configuration|options?\.inc|option|settings?(\.inc)?|functions?(\.inc)?|setup(\.inc)?|default|home|xmlrpc|bigdump|uploadTester|errors?|test|data|members?|hacke?r?d?|[-_a-z0-9.]*mafia[-_a-z0-9.]*|[-_a-z0-9.]*power[-_a-z0-9.]*|[-_a-z0-9.]*jihad[-_a-z0-9.]*|php|shell|ssh|root|cmd|[0-9]{1,6})\.(p?s?x?htm?l?|txt|aspx?|cfml?|cgi|pl|php[3-9]{0,1}|jsp?|sql|xml)$">
#order allow,deny
#deny from all
#</Files>

### ON EVITE LE VOL D'IMAGES, VIDEO, SON, FEUILLE DE STYLE, PDF ET ZIP
### LES VISITEURS DOIVENT PASSER PAR LE SITE. 
#RewriteEngine on 
#RewriteCond %{HTTP_REFERER} !^$ 
#RewriteCond %{HTTP_REFERER} !^http://[-_a-z0-9.]*mondomaine\.tld$ [NC] 
#RewriteCond %{HTTP_REFERER} !^http://[-_a-z0-9.]*mondomaine\.tld/.*$ [NC] 
#RewriteCond %{HTTP_REFERER} !^https?://.*(translate|paypal|google|bing|yahoo|yandex|baidu|facebook|qwant|duck|ixquick|pinterest|twitter).*$ [NC] ## CES DOMAINES PEUVENT AFFICHER LES DONNEES DU SITE
#RewriteRule .*\.(gif|jpe?g?|jp2|png|svgz?|css|pdf|zip|gz|js|mp3|m4a|mp4|mov|divx|avi|wma?v?|wmp|swf|flv|docx?|xlsx?|pptx?|vbs|rtf|asf?x?|odt|ods|odp|odg|odb)$ - [NC,F]

### Aucun script dans le dossier et ses sous-dossiers, que ce soit PHP, PERL ou autre CGI, ne pourra s'executer si ExecCGI est inactif. Et interdit d'afficher la liste des fichiers.
#OPTIONS -ExecCGI  -Indexes

###------------------------------------------------------------------------------|
###Disallow Script Execution													 |
###------------------------------------------------------------------------------|
#Options -ExecCGI																
#AddHandler cgi-script .php .pl .py .jsp .asp .htm .shtml .sh .cgi				

###------------------------------------------------------------------------------|
###Change Charset and Language headers											 |
###------------------------------------------------------------------------------|
#AddDefaultCharset UTF-8
#DefaultLanguage en-US			

###-------------------------------------------------------------------------------|
###Set Timezone of the Server (GMT)											      |
###-------------------------------------------------------------------------------|
#SetEnv TZ America/Indianapolis

###-------------------------------------------------------------------------------|
###Prevent Directory Listing													  |
###-------------------------------------------------------------------------------|
#Options -Indexes

###-------------------------------------------------------------------------------|
###Redirect browser to https (ssl)												  |
###-------------------------------------------------------------------------------|
#RewriteEngine On
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

###-------------------------------------------------------------------------------|
###FILTRE CONTRE CERTAINS ROBOTS DES PIRATES									  |
###-------------------------------------------------------------------------------|
#RewriteEngine On

### EXCEPTION: TOUS LES ROBOTS MEMES ANONYMES OU BANNIS PEUVENT ACCEDER A CES FICHIERS
#RewriteCond %{REQUEST_URI} !^/robots.txt
#RewriteCond %{REQUEST_URI} !^/sitemap.xml
#RewriteCond %{HTTP_USER_AGENT} ^-?$ [OR] ## ANONYMES
#RewriteCond %{HTTP_USER_AGENT} ^curl|^Fetch\ API\ Request|GT\:\:WWW|^HTTP\:\:Lite|httplib|^Java|^LeechFTP|lwp-trivial|^LWP|libWeb|libwww|^PEAR|PECL\:\:HTTP|PHPCrawl|PycURL|python|^ReGet|Rsync|Snoopy|URI\:\:Fetch|urllib|WebDAV|^Wget [NC] ## BIBLIOTHEQUES / CLASSES HTTP DONT ON NE VEUT PAS. ATTENTION, CELA PEUT BLOQUER CERTAINES FONCTIONS DE VOTRE CMS. NE PAS TOUT EFFACER, MAIS CHERCHEZ LE NOM DE LA CLASSE HTTP CONCERNEE (DEMANDEZ AUX DEVELOPPEURS DE VOTRE CMS). CETTE LISTE BLOQUE 80% DES ROBOTS SPAMMEURS. IL FAUT LA CONSERVER.

### RewriteCond %{HTTP_USER_AGENT} ^[bcdfghjklmnpqrstvwxz\ ]{10,}|^[0-9a-z]{15,}|^[0-9A-Za-z]{19,}|^[A-Za-z]{3,}\ [a-z]{4,}\ [a-z]{4,} [OR] ## CEUX QUI INVENTENT DES NOMS AU HASARD, RETIREZ LES 2 DIESES EN DEBUT DE LIGNE POUR L'ACTIVER
#RewriteRule (.*) - [F]

###-----------------------------------------------------------------------------|
###FILTRE CONTRE XSS, REDIRECTIONS HTTP, base64_encode, VARIABLE PHP GLOBALS VIA|
###URL, MODIFIER VARIABLE _REQUEST VIA URL, TEST DE FAILLE PHP,					|
###INJECTION SQL SIMPLE															|
###-----------------------------------------------------------------------------|
#RewriteEngine On
#RewriteCond %{REQUEST_METHOD} (GET|POST) [NC]
#RewriteCond %{QUERY_STRING} ^(.*)(%3C|<)/?script(.*)$ [NC,OR]
#RewriteCond %{QUERY_STRING} ^(.*)(%3D|=)?javascript(%3A|:)(.*)$ [NC,OR]
#RewriteCond %{QUERY_STRING} ^(.*)document\.location\.href(.*)$ [OR]
#RewriteCond %{QUERY_STRING} ^.*(%24&x).* [NC,OR]
#RewriteCond %{QUERY_STRING} ^.*(127\.0).* [NC,OR]
#RewriteCond %{QUERY_STRING} ^(.*)(%3D|=)(https?|ftp|mosConfig)(%3A|:)//(.*)$ [NC,OR] ## ATTENTION A CETTE REGLE. ELLE PEUT CASSER CERTAINES REDIRECTIONS RESSEMBLANT A: http://www.truc.fr/index.php?r=http://www.google.fr ##
#RewriteCond %{QUERY_STRING} ^.*(_encode|localhost|loopback).* [NC,OR]
#RewriteCond %{QUERY_STRING} ^(.*)GLOBALS(=|[|%[0-9A-Z]{0,2})(.*)$ [OR]
#RewriteCond %{QUERY_STRING} ^(.*)_REQUEST(=|[|%[0-9A-Z]{0,2})(.*)$ [OR]
#RewriteCond %{QUERY_STRING} ^(.*)(SELECT(%20|\+)|UNION(%20|\+)ALL|INSERT(%20|\+)|DELETE(%20|\+)|CHAR\(|UPDATE(%20|\+)|REPLACE(%20|\+)|LIMIT(%20|\+)|CONCAT(%20|\+)|DECLARE(%20|\+))(.*)$ [NC]
#RewriteRule (.*) - [F]

###-------------------------------------------------------------------------------|
### DES FAUX URLS OU VIEUX SYSTEMES OBSOLETES, ON LES NEUTRALISE				  |
###-------------------------------------------------------------------------------|
#RedirectMatch 403 (\.\./|base64|boot\.ini|eval\(|\(null\)|^[-_a-z0-9/\.]*//.*|/etc/passwd|^/_vti.*|^/MSOffice.*|/fckeditor/|/elfinder/|zoho/|/jquery-file-upload/server/|/assetmanager/|wwwroot|e107\_)

###-------------------------------------------------------------------------------|
### DESACTIVE LES METHODES DE REQUETES TRACE TRACK DELETE						  |
###-------------------------------------------------------------------------------|
#RewriteEngine On
#RewriteCond %{REQUEST_METHOD} ^(TRACE|DELETE|TRACK) [NC]
#RewriteRule ^.* - [F]